<html>

<head>
    <title>Test Project</title>   
    <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div ng-app="mainApp" ng-controller="userController">
        
        <p>Select max number of rows per page:</p> 
        <select ng-model="numPerPage" ng-options="x for x in numbersPerPage"></select>
        
        <p>Filter by username</p>
        <label for="search">Search:</label>
        <input ng-model="searchText.username" placeholder="Filter text" ng-change="filter()">

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th>post title</th>
                    <th>views</th>
                    <th>likes</th>
                    <th>created at</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in filteredUsers = (users | filter:searchText) | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.postTitle}}</td>
                    <td>{{user.views}}</td>
                    <td>{{user.likes}}</td>
                    <td>{{user.createdAt}}</td>
                </tr>
            </tbody>

        </table>
        <pagination data-boundary-links="true" data-num-pages="numPages()" data-current-page="currentPage" 
                    max-size="maxSize" class="pagination-small" 
                    data-previous-text="&laquo;" data-next-text="&raquo;">
        </pagination>
    </div>
    <script src="userController.js"></script>
</body>

</html>